<div class="login">
  <div class="frmlogin">
    <h5 class="title">HỆ THỐNG QUẢN LÝ</h5>
    <div class="hr">
      <span>Đăng ký hệ thống</span>
    </div>
    <form>
      <div class="row d-flex align-items-end">
        <div class="col-md-6">
          <div class="form-ground">
            <label class="register-title" for="UserName">Tên đăng nhập</label>
            <div class="fieldset">
              <i class="fas fa-user"></i>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Tên đăng nhập"
                value=""
                class="form-control"
              />
            </div>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-ground">
            <div class="fieldset">
              <i class="fas fa-user"></i>
              <input
                type="text"
                name="displayname"
                id="displayname"
                placeholder="Tên hiển thị"
                value=""
                class="form-control"
              />
            </div>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="form-ground">
        <label class="register-title" for="UserName">Email</label>
        <div class="fieldset">
          <i class="fas fa-envelope"></i>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            value=""
            class="form-control"
          />
        </div>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-ground">
        <label class="register-title" for="UserName">Mật khẩu</label>
        <div class="fieldset">
          <i class="fas fa-key"></i>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Mật khẩu"
            value=""
            class="form-control"
          />
        </div>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-ground">
        <label class="register-title" for="UserName">Nhập lại mật khẩu</label>
        <div class="fieldset">
          <i class="fas fa-key"></i>
          <input
            type="password"
            name="password_confirmation"
            id="password_confirmation"
            placeholder="Nhập lại mật khẩu"
            autocomplete="new-password"
            value=""
            class="form-control"
          />
        </div>
        <div class="help-block with-errors"></div>
      </div>
      <div class="button-login">
        <button type="submit" class="btn">
          <i class="fas fa-sign-in-alt"> Đăng ký </i>
        </button>
      </div>
    </form>
  </div>
</div>
<app-footer-for-auth></app-footer-for-auth>